.list-countries {
  display: flex;
  flex-direction: column;
  background-color: #1f1f2f;
  margin-right: 10px;
}

.image-countries {
  width: 180px;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
}

.remove-button {
  border: 1px solid #94a3b8;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
